.nav {
    grid-area: n;
    background-color: fuchsia;
    padding: 20px;
}

.item a{
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: green;
}

.itemSettings {
    padding-top: 20px;
}

.itemSettings a{
    color: white;
    text-decoration: none;
}
